@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter.ttf") format("truetype");
}

body {
  font-family: Inter;
  margin: 0;
}

#main-container {
  padding: 0 10%;
}

/* LANDING TAB */
#landing-section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: gray;
  text-decoration-thickness: 0.1rem;
}
