td,
th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.config-table,
#simlog-table {
  border-spacing: 0;
  font-size: 14px;
  width: 100%;
}

.config-table-col:nth-child(1) {
  width: 10rem;
}
.config-table-col:nth-child(2) {
  width: 1rem;
}
.config-table-col:nth-child(3) {
  width: 4rem;
}

td,
th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Inter;
}

th {
  background-color: var(--bs-primary);
  color: var(--bs-light);
}

th, td {
  border: 1px solid var(--bs-primary);
}

table {
  margin-bottom: 1rem;
}

.config-table th {
  text-align: left;
}

.config-domain {
  text-transform: uppercase;
  font-weight: 700;
}

.serverrange_info_message {
  font-style: italic;
  margin: 0;
}

label {
  padding: 0.25rem 0.5rem;
}

.config-table td.td-info {
  font-size: 14px;
}

th.valid-values {
  width: 100px;
}

#simlog-table {
  text-align: center;
}

.domain,
.dtype {
  font-weight: 600;
}
