@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter.ttf") format("truetype");
}

/* LANDING TAB */
#landing-section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: gray;
  text-decoration-thickness: 0.1rem;
  cursor: help;
}

/* button:active {
  background-color: var(--bs-blue);
  opacity: 0.8;
  background-image: linear-gradient(#efefff, 1px, transparent 1px),
    linear-gradient(90deg, #efefff, 1px, transparent 1px),
    linear-gradient(#efefff, 0.5px, transparent 0.5px),
    linear-gradient(90deg, #efefff, 0.5px, var(--bs-blue) 0.5px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
} */
