/* Style dcc.Dropdown to look like dbc.Select (matching Bootstrap form-control). */
.Select-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-body-bg) !important;
  height: 2.5rem;
}

#dropdown-multi {
  margin-bottom: 0.5rem;
}

.Select-value {
  height: 1.8rem;
}
