#sidebar {
  min-width: 10rem;
  margin-right: 3rem;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

/* .nav-item {
  padding: 0.5rem 1rem;
} */

/* .nav-item:hover {
    background-color: blue;
} */

#sidebar i {
  margin-right: 10px;
}
