button,
/* .view-button, */
.control-element {
  border-radius: 0.5rem;
  /* border: 1.5px solid var(--black); */
  height: 2rem;
}

/* .view-button:hover, */
button:hover {
  cursor: pointer;
}

/* .view-button label:hover {
  cursor: pointer;
} */

/* .view-button {
  padding: 0.3rem 0.6rem;
  display: flex;
  font-weight: bold;
  margin-right: 0.3rem;
} */

/* .view-button label {
  font-size: 14px;
  margin: 2px 0;
} */

button:disabled {
  cursor: not-allowed;
}

/* #plot-view-button.disabled {
  pointer-events: none;
} */

/* .view-button, */
button {
  font-weight: bold;
  cursor: pointer;
}

button {
  /* font-family: Quicksand; */
  font-weight: 700;
}

.control-element {
  height: 2.6rem;
  /* border-radius: 10px; */
  padding: 0 1rem;
  margin: 0 0.2rem;
}
