@font-face {
  font-family: "Inter";
  src: url("Inter.tff") format("truetype");
}

:root {
  --bckg: rgb(240, 250, 255);
  --blue: rgb(220, 240, 255);
  --bluish: rgb(250, 250, 255);
  --lightblue: rgb(50, 80, 100);
  --veryblue: rgb(0, 30, 100);

  --interacted: rgb(70, 100, 150);
  --can-interact: rgb(140, 170, 200);
}

td, th {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

.graph {}

.dropdown-div {
  display: flex;
}

.plot-div {
  display: flex;
  flex-direction: row;
  width: 2000px;
}

#figure-section {
  display: flex;
  flex-wrap: wrap;
  /* width:600px;
  margin-left:auto;
  margin-right:auto; */
}

.figure-card {
  /* outline: 5px solid red; */
  /* background-color: rgb(250, 250, 250); */
  margin: 30px 3%;
  min-height: 100px;
  display: flex;
  width: 44%;
}

.main-container {
  padding: 0 10%;
}

.figure-card-container {
  padding: 10px 100px;
  margin-right: 30%;
}

h1 {
  color: rgb(50, 50, 50);
  padding: 30px 0;
  font-weight: black;
  /* text-align: center; */
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Inter;
  background-color: var(--bckg);
}

.figure-title {
  /* font-size:24px; */
  font-weight: bold;
}

.config-table, .result-table {
  border-spacing: 0px;
  font-size: 14px;

}


tr:nth-of-type(odd) {
  background-color: var(--bluish);
}

.config-table td {
  height: 2rem;
  padding: 0.5rem 1rem;
}

.config-table th, .result-table th {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  margin-top: 1.5rem;
}

.config-table th {
  color: var(--veryblue);
  text-align: left;
}

label, input {
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
}

label {

  padding: 0.25rem 0.5rem;
}

input {
  border: 0px solid;
  color: var(--veryblue);
  margin: 0.2rem;
}

input:placeholder-shown {
  background-color: var(--can-interact);
  color: var(--bluish);
}

input::placeholder {
  color: var(--bluish);
}

input:not(:placeholder-shown) {
  background-color: var(--interacted);
  color: var(--bluish);

}

.config-table td.td-info {
  font-size: 14px;
}

th.valid-values {
  width: 100px;
}

/* td.dtype {
  text-align: center;
} */

label.dtype {
  /* font-weight: bold; */
}

label.dtype-str, label.domain-recording {
  color: rgb(212, 116, 116);
  background-color: rgb(255, 247, 247);
}

label.dtype-int {
  color: rgb(147, 187, 53);
  background-color: rgb(249, 255, 238);
}


label.dtype-float {
  color: rgb(200, 144, 13);
  background-color: rgb(255, 255, 225);
}


label.dtype-bool {
  color: rgb(53, 178, 187);
  background-color: rgb(232, 249, 255);
}


label.domain-ecology {
  color: rgb(86, 176, 45);
  background-color: rgb(242, 255, 238);
}

label.domain-initialization {
  color: rgb(57, 53, 187);
  background-color: rgb(240, 241, 255);
}

label.domain-genetics {
  color: rgb(104, 53, 187);
  background-color: rgb(247, 232, 255);
}

label.domain-computation {
  color: rgb(207, 63, 195);
  background-color: rgb(255, 240, 251);
}

td.td-info {
  color: var(--lightblue);
}

.result-table {
  text-align: center;
  /* border: solid black 0px; */
}


/* Rounded corners of tables -- */
th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

/* -- Rounded corners of tables */

tr {
  background-color: white;
}

th {
  background-color: var(--blue);
}

/* td.data-range {
  padding: 0 1rem;
} */