.graph {
}
.dropdown-div {
  display: flex;
}

.plot-div {
  display: flex;
  flex-direction: row;
  width: 2000px;
}

#figure-section {
  display:flex;
  flex-wrap: wrap;
  /* width:600px;
  margin-left:auto;
  margin-right:auto; */
}

.figure-card {
  /* outline: 5px solid red; */
  /* background-color: rgb(250, 250, 250); */
  margin: 30px 3%;
  min-height: 100px;
  display: flex;
  /* width: 44%; */
}

.main-container {
  padding: 0 10%;
}

.figure-card-container {
  padding: 10px 100px;
  margin-right: 30%;
}

h1 {
  color: rgb(50, 50, 50);
  padding:30px 0;
  font-weight: black;
  /* text-align: center; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.figure-title {
  /* font-size:24px; */
  font-weight: bold;
}

.config-table td {
  height: 2rem;
  padding: 0 1rem;
}
.config-table th, .result-table th {
 padding: 2rem 0.5rem 0.5rem 0.5rem;
}

.config-table td.td-info {
  font-size: 14px;
}

.result-table {
  text-align: center;
}

/* td.data-range {
  padding: 0 1rem;
} */