@font-face {
  font-family: "Quicksand";
  src: url("Quicksand.tff") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("Inter.tff") format("truetype");
}

:root {

  --dark-black: #101112;
  --mid-black: #191A1C;
  --mid-black-hover: #222325;

  --midmidmid-black: #111213;
  --midmid-black: #151617;
  --offwhite: #bebdb7;

  --lite-black: #2E3133;
  --litelite-black: rgb(65, 69, 71);
  --prim: #E4B268;


  --bckg: rgb(240, 250, 255);
  --blue: rgb(220, 240, 255);
  --bluish: rgb(250, 250, 255);
  --lightblue: rgb(50, 80, 100);
  --veryblue: rgb(0, 30, 100);

  --interacted: rgb(70, 100, 150);
  --can-interact: rgb(180, 210, 240);
  --cannot-interact: rgb(250, 240, 240);
  --can-interact-hover: rgb(130, 160, 190);
}

body {
  font-family: Quicksand;
  margin: 0;

  background-color: var(--dark-black);

  /* -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; */
}

body::-webkit-scrollbar {

  /* display: none; */
  /* for Chrome, Safari, and Opera */
}


#main-container {
  padding: 0 10%;
  /* min-height: 100%; */
  /* width: 100%; */
}


td, th {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

td {
  /* color: rgb(200, 200, 200); */
  /* td.td-info { */
  color: var(--offwhite);
  /* } */
}

button, .view-button {
  background-color: var(--prim);
  color: var(--mid-black);
  font-weight: bold;
  cursor: pointer;

}

input, button {
  font-family: Quicksand;
  font-weight: 700;
}

input:focus {
  outline: 2px solid var(--prim) !important;
}

.domain, .dtype {
  font-family: Quicksand;
  font-weight: 600;
}

button {
  border-radius: 1rem;
}

button:hover, .view-button:hover {
  cursor: pointer;
  background-color: var(--mid-black-hover);
  color: var(--prim);
}

button:active {
  background-color: var(--midmid-black);
  color: var(--prim);

}

.view-button label:hover {
  cursor: pointer;
}


.view-button {
  height: 2rem;
  padding: 0.3rem 0.6rem;
  /* margin: 0.3rem; */
  /* border-radius: 3rem; */
  display: flex;
  white-space: nowrap;
  font-weight: bold;
}

.view-button:hover {
  /* background-color: var(--can-interact-hover); */

}

.view-button:first-of-type {
  border-radius: 10px 0 0 10px;
}

.view-button:last-of-type {
  border-radius: 0 10px 10px 0;
}

.view-button label {

  font-size: 14px;
  margin: 2px 0;
}

.svg-plot {
  width: 26px;
  height: 26px;
  margin: 3px 0;
}


.dropdown-div {
  display: flex;
}

.plot-div {
  display: flex;
  flex-direction: row;
  width: 2000px;
}

#figure-section {

  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#figure-container {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 1rem; */
}

.figure-card {
  /* outline: 5px solid red; */
  /* background-color: rgb(250, 250, 250); */
  /* margin:; */
  padding: 30px;
  margin: 0 15px 15px 0;
  min-height: 100px;
  display: flex;
  width: 42%;
  background-color: white;
  border-radius: 16px;
}

/* .bluish-bckg {
  background-color: var(--bckg);
} */


h1 {
  color: var(--prim);
  /* padding: 30px 0; */
  font-weight: black;
  margin: 0 2rem 0 0;
  /* text-align: center; */
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'24
}

.title-section {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}


.figure-title {
  /* font-size:24px; */
  font-weight: bold;
}

.config-table, .result-table {
  border-spacing: 0px;
  font-size: 14px;

}



td, th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Inter;
}

td {
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 1.5rem;
  background-color: rgb(29, 32, 33);
}

tr {
  background-color: rgb(20, 22, 23);
}

tr:nth-of-type(odd) {
  background-color: rgb(18, 20, 21);
}

.config-table th, .result-table th {
  color: var(--prim);
}

.config-table th {

  text-align: left;
}

label, input, button {
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  border: none;
  /* margin: 0.1rem; */
}

label, input {
  border-radius: 6px;
}

label {

  padding: 0.25rem 0.5rem;
}

input {
  border: 0px solid;
  /* color: var(--veryblue); */
  margin: 0.2rem;
}

input:placeholder-shown {
  background-color: var(--mid-black);
  color: var(--lite-black);
}

input::placeholder {
  color: var(--litelite-black);
  font-weight: bold;
}

input:hover {
  background-color: var(--mid-black-hover);
}

input:not(:placeholder-shown) {
  background-color: var(--prim);
  color: var(--mid-black);

}



.config-table td.td-info {
  font-size: 14px;
}

th.valid-values {
  width: 100px;
}


label.dtype {
  /* font-weight: bold; */
}

label.dtype-str, label.domain-recording {
  color: rgb(212, 116, 116);
  background-color: rgba(255, 195, 195, 0.03);
}

label.dtype-int {
  color: rgb(147, 187, 53);
  background-color: rgba(226, 255, 173, 0.03);
}


label.dtype-float {
  color: rgb(200, 144, 13);
  background-color: rgba(255, 255, 167, 0.03);
}


label.dtype-bool {
  color: rgb(53, 178, 187);
  background-color: rgba(179, 235, 255, 0.03);
}


label.domain-ecology {
  color: rgb(86, 176, 45);
  background-color: rgba(212, 255, 199, 0.03);
}

label.domain-initialization {
  color: rgb(103, 129, 231);
  background-color: rgba(189, 193, 255, 0.03);
}

label.domain-genetics {
  color: rgb(147, 104, 217);
  background-color: rgba(229, 180, 255, 0.03);
}

label.domain-computation {
  color: rgb(217, 89, 196);
  background-color: rgba(255, 192, 238, 0.03);
}


table {
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* table:hover {
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.03);
  transition: box-shadow 0.2s ease-in;
} */

.result-table {
  text-align: center;
  /* border: solid black 0px; */
}


/* Rounded corners of tables -- */
th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.footer-p {
  font-size: 12px;
}

#plot-section-control {
  /* margin: 0.5rem 0 1rem 0; */
  /* height: 2.6rem; */
}

.control-element {
  height: 2.6rem;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 0 0.2rem;
}


button:disabled {
  cursor: not-allowed;
  background-color: var(--mid-black);
  color: var(--lite-black);
}