.graph {
}
.dropdown-div {
  display: flex;
}

.plot-div {
  display: flex;
  flex-direction: row;
  width: 2000px;
}

.figure-card {
  /* outline: 5px solid red; */
  background-color: pink;
  margin: 10px 0;
  min-height: 100px;
  width: 100%;
}

.main-container {

  padding: 0 10%;

}

.figure-card-container {
  padding: 10px 100px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}